@page "/edit-student/{studentId:int}"

@rendermode InteractiveServer
@attribute [StreamRendering]

@inject IEditStudentUseCase EditStudentUseCase
@inject IGetStudentByIdUseCase GetStudentByIdUseCase
@inject NavigationManager Navigation
@inject NotificationService NotificationService

<link rel="stylesheet" href="css/editPage.css?v1.0" />

<div class="page-header">
    <div class="editpage-topic">Edit student</div>
</div>

<br />

<EditForm Model="student" FormName="editForm" OnValidSubmit="Save">

    <div class="form-group" style="padding-bottom: 10px">
        <label for="Name">Student name</label>
        <InputText id="Name"
                   @bind-Value='student.Name'
                   class="form-control">
        </InputText>
    </div>

    <div class="form-group" style="padding-bottom: 10px">
        <label for="Surname">Surname</label>
        <InputText id="Surname"
                   @bind-Value='student.Surname'
                   class="form-control">
        </InputText>
    </div>

    <div class="form-group" style="padding-bottom: 10px">
        <label for="Group">Group</label>
        <InputText id="Group"
                   @bind-Value='student.GroupName'
                   class="form-control">
        </InputText>
    </div>

    <div class="form-group">
        <label for="AvgScore">Average score</label>
        <InputNumber id="AvgScore"
                     @bind-Value='student.AverageScore'
                     class="form-control">
        </InputNumber>
    </div>

    <br />

    <div style="align-items: center">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick='() => Navigation.NavigateTo("/students")'>Cancel</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int StudentId { get; set; }

    private Student student = null!;

    private async Task Save()
    {
        try
        {
            await EditStudentUseCase.ExecuteAsync(student);
            Navigation.NavigateTo("/students");
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success", Detail = "Student was successfully edited", Duration = 4000 });
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = $"{ex.Message}", Duration = 4000 });
        }
    }

    protected override async Task OnInitializedAsync()
    {
        student = await GetStudentByIdUseCase.ExecuteAsync(StudentId);
    }

}
