<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="UniSystemBlazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- Radzen CSS -->
    <link href="_content/Radzen.Blazor/css/default.css" rel="stylesheet" />
    <!-- Radzen JS -->
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
