.searchbar {
    width: auto;
    max-width: 530px;
    height: 50px;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    border: solid;
    border-color: #f4f4f4f4;
    border-width: 2px;
}

.search-button {
    margin-left: 10px;
    height: 35px;
    width: 40px;
    background-color: #6666cc;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
    margin-right: 7px;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}

.button-image{
    width: 25px;
}

.input-bar {
    border: none;
    width: 500px;
    margin-left: 10px
}

.input-bar:focus {
    outline: none;
    box-shadow: none;
    border: none; 
}
